// Place all the styles related to the gists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.span12 .gist_container {
  background: $box_color;
  @include nice_shadow;
}

.papers_show .whatever .gist {
  background: $box_color;
  @include nice_shadow;
  padding: 12px;
}

div.span12 .gists {
  padding: 12px;
}
div.span12 .paper {
  padding: 2px 12px 12px 12px;
  background-color: lighten($color, 30);
  .info {
    font-style: italic;
    .paper_author {
      margin-right: 12px;
    }
    .gist_author {
      margin-right: 12px;
    }
  }
}

.gist_author:not(:first-child) {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px #eee solid;
}

.gist_author:last-child {
  margin-bottom: 1em;
}

.paper_container {
  margin-bottom: 1em;
}