// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background: $background_color;
  font-size: inherit;
  font-family: inherit;
  font: inherit;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

html {
  font: 125%/1.5 'Open Sans', serif;
}

// First page add gist box
.add_gist_box {
  font-size: 20px;
  text-align: center;
  margin-top: 24px;
  background: white;
  padding: 24px;
  @include nice_shadow;
}

.add_gist {
  a.btn {
    margin-top: 20px;
    background: $color_1;
    border: none;
    border-radius: 0;

  }
}

.btn {
  //border: none;
  //border-radius: 0;
  background: $default_button_color;
}

.small {
  font-size: 16px;
  font-size: .8rem;
  color: rgba(0,0,0,.5);
}
// Brand link

a#brand {
  color: inherit;
}

a#brand:hover {
  text-decoration: none;
};

a {
  color: $color;
  text-decoration: none;
}
a:hover {
  color: $color;
  text-decoration: underline;
}

.header-launch {
  .brand {
    margin-top: 0px;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    color: $font_color;
    .gist {
      color: $color;
    }
  }

  .links {
    color: $font_color;
    a {
      margin-left: 12px;
    }
    i {
      margin-top: 7px;
      margin-right: 6px;
    }
    text-align: right;
  }
  line-height: 48px;
  height: 48px;
  background: $header_color;
  @include box-shadow($shadow_color 0px 2px 2px);
  color: white;
}

.center.logo {
  margin-top: 100px;
  margin-bottom: 100px;
}

.new_user {
  padding: 24px;
  margin-top: 12px;
  @include nice_shadow;
  background-color: lighten($color_1, 5);
  input[type=text], input[type=email], input[type=password], input {
    width: 100%;
  }
  .btn {
    height: 30px;
  }
}

.new_gist {
  input[type=text] {
    width: 100%;
  }
  textarea {
    width: 100%;
    height: 240px;
  }
  .submit {
    .btn {
      background: $color_1;
    }
    text-align: right;
  }
}

.center {
  text-align: center;
}

.btn.search {
  width: 150px;
}
