// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font: 125%/1.5 freight-sans-pro, serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

.header {
  .brand {
    font-family: freight-text-pro;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    color: $font_color;
    .gist {
      color: $color;
    }
  }

  .links {
    text-align: right;
  }
  line-height: 48px;
  height: 48px;
  background: $header_color;
  color: white;
}
