// Place all the styles related to the papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.paper_metadata {
  margin-bottom: 2em;
  font-weight: normal;
}

.paper_gists {

}

.paper_title {
  margin-bottom: 0;
}

.add_gist {
  margin: 2em;
}

.row.paper_container {
  margin-bottom: 2em;
}