// Place all the styles related to the papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.paper_metadata {
  margin-bottom: 2em;
  font-weight: normal;
}

.paper_gists {

}
.header {
  .paper_title {
    font-size: emCalc(23px);
  }
}

.paper_title {
  margin-bottom: 0;
}

.add_gist {
  margin: 2em;
}

.row.paper_container {
  margin-bottom: 2em;
}

.results {
  .paper {
    cursor: pointer;
    border-radius: $global-radius;
  }
  .paper:hover {
    padding: -3em;
    background-color: $shadow_color;

  }


}