$body-bg: #efefef;
$body-font-family: 'Open Sans', sans-serif;
$primary-color: $color;
$header-font-family: "Open Sans", sans-serif;
$header-font-weight: normal;
$panel-bg: #fff;
$topbar-title-weight: normal;
$topbar-link-weight: normal;