// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2.tag {
  display: inline-block;
  font-size: 1em;
  background: $color;
  padding: 0.2em;
  font-weight: 600;
  color: #fff;
}

.row.tags {
  a {
    color: #111;
  }
}