$color: #E92F4A;
$font_color: #1A1A1A;
$background_color: #F5F4F0;
$blog_background_color: white;
//$header_color: darken($background_color, 10);
$header_color: white;
$shadow_color: darken($background_color,5);

$box_color: white;
//Theme colors
$color_1: #C6F798;
$default_button_color: lighten($color_1,24);
$placeholder_color: darken($shadow_color, 20);