.hide-for-small.logo.center=link_to image_tag('/images/sciencegist-logo-medium.png'), root_url(subdomain: 'www')
.show-for-small.logo.center=link_to image_tag('/images/sciencegist-logo-small.png'), root_url(subdomain: 'www')
